.card {
  width: 100%;
  height: 240px;
  max-width: 420px;
  border-radius: 10px;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  cursor: pointer;
  div {
    width: 100%;
    background-color: black;
    max-width: 420px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 50%;
    border-radius: 10px;
    color: #ffffff;

    p {
      color: #ffffff;
    }
  }
}
.card:nth-child(1) {
  background-image: url("~/assets/img/online_events.svg");
}
.card:nth-child(2) {
  background-image: url("~/assets/img/physical_events.svg");
}
.card:nth-child(3) {
  background-image: url("~/assets/img/hybrid_events.svg");
}

.event_card {
  max-width: 421px;
  height: 488px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  transition: all 250ms;

  img {
    max-height: 488px;
    width: 100%;
    height: 280px;
    object-fit: contain;

    @media screen and (max-width: 942px) {
      max-width: 100vw;
    }
  }
  @media screen and (max-width: 942px) {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;

    .title {
      padding: 10px 0px 0px 10px;

      h3 {
        font-size: 16px;
        margin: 0px;
      }
      p {
        @media screen and (max-width: 380px) {
          margin-bottom: 0px;
        }
      }
      span {
        height: 4px;
        width: 4px;
        background-color: black;
        border-radius: 50%;
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0px 5px 0px 5px;
      }
    }
    .description {
      font-size: 14px;
      padding-left: 10px;
      p {
        @media screen and (max-width: 380px) {
          margin: 0px;
        }
      }
    }
    .button {
      color: #432361;
      cursor: pointer;
      padding-left: 11.2px;
    }
  }

  cursor: pointer;

  img {
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.spinner {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #432361;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
